<!-- Identité du collègue -->
<div class="row">
  <div class="col-12 col-md-4">
    <img src={{col.photoUrl}} alt="Photo">
  </div>
  <div class="col-12 col-md-8">
    <div class="row">
      <div class="col" id="labelcol">
        <p>Matricule</p>
      </div>
      <div class="col">
        <p>{{col.matricule}}</p>
      </div>
    </div>
    <div class="row">
      <div class="col" id="labelcol">
        <p>Nom</p>
      </div>
      <div class="col">
        <p>{{col.nom | uppercase}}</p>
      </div>
    </div>
    <div class="row">
      <div class="col" id="labelcol">
        <p>Prénom</p>
      </div>
      <div class="col">
        <p>{{col.prenom}}</p>
      </div>
    </div>
    <div class="row">
      <div class="col" id="labelcol">
        <p>Date de naissance</p>
      </div>
      <div class="col">
        <p>{{col.dateDeNaissance | date : 'd/MM/y'}}</p>
      </div>
    </div>
    <!-- Email -->
    <div class="row">
      <div class="col" id="labelcol">
        <p>Email</p>
      </div>
      <div *ngIf="!switchBtn" class="col">
        <p>{{col.email}}</p>
      </div>
      <div *ngIf="switchBtn" class="col">
        <input type="text" name="email">
      </div>
    </div>
    <!-- Photo -->
    <div class="row">
      <div class="col" id="labelcol">
        <p>Photo URL </p>
      </div>
      <div *ngIf="!switchBtn" class="col">
        <p>{{col.photoUrl}}</p>
      </div>
      <div *ngIf="switchBtn" class="col">
        <input type="text" name="photo">
      </div>
    </div>

    <!-- Evènements -->
    <div class="row">
      <div *ngIf="!switchBtn" class="col-6">
        <a href="#" class="stretched-link" (click)="creer()">Créer un nouveau collègue</a>
      </div>
      <!-- Masquer bouton modifier / Afficher bouton valider -->
      <div class="col-6">
        <button *ngIf="!switchBtn" class="btn btn-info" (click)="modifier()">Modifier</button>
        <button *ngIf="switchBtn" class="btn btn-success" (click)="valider()">Valider</button>
      </div>
    </div>
  </div>
</div>
