<div class="container-fluid">
  <div class="row">
    <!-- Recherche par le nom -->
    <div class="col-12 col-lg-4">
      <app-recherche-collegue-par-nom></app-recherche-collegue-par-nom>
    </div>

    <!-- Affichage du collègue -->
    <!-- <div class="col-12 col-lg-8"> -->
    <!--<app-collegue [col]="collegue"></app-collegue> -->
    <!--  </div> -->

    <!-- Création du collègue -->
    <div class="col-12 col-lg-8">
      <app-creation-collegue></app-creation-collegue>
    </div>
  </div>
</div>
